* {
    font-family: 'Roboto', sans-serif!important;
}
body {
   background: #f1f1f1;
}
a {
    color:gray;
    text-decoration:underline;
}
a:visited{
    color:gray;
}
a:hover{
    color:gray;
}
.grid-container{
    margin-top:20px;
}
.button {
    background: #1779ba;
    padding: 10px;
    color: white;
    cursor:pointer;
}
.button:hover{
    text-decoration-line: underline;
}
.hide { opacity:0; }
#locator-map {
    height: 300px;
    border: 2px solid lightgray;
}
#resultsList {
    margin-left:4em;
    list-style-type:none;
    background: #f8efd4;
    padding: 20px;
    border-radius: 10px;
}
.sublist {
    margin-left:1rem;
}
#location-autocomplete {
    width: 300px;
}
#location-field h1 {
    font-size: 2em;
}
#results ul{
    text-align:left;
}

.text-center {
    text-align: center;
}
.instructions{
    font-size: 16px;
    width: 80%;
    padding: 20px;
    display: block;
    margin: 0 auto;
    background: white;
}
.input-address{
    border:1px solid lightgray;
    width: 100%;
    height:40px;
    font-size:18px;
    color:darkblue;
    font-weight: bold;
}
.input-address::placeholder{
    color:gray;
}
#addressError {
    background: #ffa5004d;
    width: 85%;
    margin: 0 auto 10px auto;
}
.stateWideRaces {
    background-color: #fff6;
    padding:10px;
    text-align:center;
}
#statewide {
    font-size:22px
}
.stateWideRaces li {
    color:gray;
}
.localRaces{
    font-size: 22px;
    text-align: center;
    margin-top: 20px;
}
.localRaces div{
    border-top: 2px solid black;

    width: 90%;

    text-align: center;

    display: block;

    margin: 0 auto;
}
.startingPosition{
    position: absolute;
    right: -300px;
    opacity:0;
}
#endingPosition{
    right:0;
}
#location-field
{
    position: relative;
    padding: 50px;
    margin: 0 auto;
    background-color: #fff;
    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
}
#location-field:before, #location-field:after
{
    position: absolute;
    width: 40%;
    height: 10px;
    content: ' ';
    left: 12px;
    bottom: 12px;
    background: transparent;
    -webkit-transform: skew(-5deg) rotate(-5deg);
    -moz-transform: skew(-5deg) rotate(-5deg);
    -ms-transform: skew(-5deg) rotate(-5deg);
    -o-transform: skew(-5deg) rotate(-5deg);
    transform: skew(-5deg) rotate(-5deg);
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    z-index: -1;
}

#location-field:after
{
    left: auto;
    right: 12px;
    -webkit-transform: skew(5deg) rotate(5deg);
    -moz-transform: skew(5deg) rotate(5deg);
    -ms-transform: skew(5deg) rotate(5deg);
    -o-transform: skew(5deg) rotate(5deg);
    transform: skew(5deg) rotate(5deg);
}

/* aminations here */
#locator-map {
    -webkit-transition: all .1s;
    -moz-transition: all .1s;
    -ms-transition: all .1s;
    -o-transition: all .1s;
    transition: all .1s;
    border:2px solid gray;
}
#resultsBox, #instructions {
    opacity:0;
    -webkit-transition: all 2s;
    -moz-transition: all 2s;
    -ms-transition: all 2s;
    -o-transition: all 2s;
    transition: all 2s;
}
@media screen and (max-width: 39.9375em) {
    #resultsList{
        margin-left:0em;
    }
}
@media screen and (max-width: 680px) {
    .instructions{
        width:100%;
        padding:0px;
    }
    .button {
        margin-top:30px;
    }
    #location-autocomplete {
        width:100%;
    }
}